  /* base font and background colors */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* page container 
  .InvigilatorHomePage {
    max-width: 800px; /* limit width of page */
   /* margin: 0 auto; /* center page horizontally */
   /* padding: 20px; /* add some padding around the content */
  /* } */
  
  /* header */
  header {
    text-align: center; /* center text within header */
  }
  
  /* table styles */
  table {
    width: 100%; /* table fills width of its container */
    border-collapse: collapse; /* remove borders between cells */
    margin-top: 20px; /* add some space between header and table */
    text-align: center; /* center text within cells */
  }
  
  th, td {
    padding: 10px; /* add padding to cells */
    text-align: center; /* center text within cells */
  }

  /* @@@ set button color */

  .changeInvigilatorButton {

    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #00758E;
    color: #E9AB33;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }  
  
  th {
    background-color: #E9AB33; /* set background color of header cells */
    color: #fff; /* set text color of header cells */
  }
  /*
  tr:hover {
    background-color: #ffcf70; /* change background color of row on hover */ /*
  }
  */
  
  td:first-child {
    text-align: left; /* left-align first cell in each row */
  }
  
  /* responsive styles for smaller screens */
  @media (max-width: 480px) {
    table {
      font-size: 14px; /* decrease font size of table on smaller screens */
    }
  }

  