/* background image */
body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/premium-vector/hexagon-technology-connect-modern-style-blue-background-internet-connection-network-high-digital-technology-abstract-background-technology-graphic-design_46577-751.jpg?w=900");
  background-size: cover;
}

.admin-home-page-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
}

.admin-home-page-buttons button {
  margin-bottom: 1rem;
  padding: 1.5rem 3rem; /* Increase the padding to make the buttons bigger */
  border: none;
  border-radius: 0.25rem;
  background-color: #E9AB33;
  color: #fff;
  font-size: 1.25rem; /* Increase the font size for larger buttons */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 20rem;
  max-width: 90%; /* Set a maximum width to make the buttons responsive */
}

.admin-home-page-buttons button:hover {
  background-color: #C79119;
}
