/* Exam Room page styles */



/* background image */
body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/premium-vector/hexagon-technology-connect-modern-style-blue-background-internet-connection-network-high-digital-technology-abstract-background-technology-graphic-design_46577-751.jpg?w=900");
  background-size: cover;
}




/* Center align the content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style the room number */
  .room-number {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #fff;
  }
  
  /* Style the buttons */
  .btn-group {
    display: flex;
    margin-top: 2rem;
    align-items: center
  }
  
  .btn {
    background-color: rgb(2, 132, 208);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: rgb(2, 132, 208);
  }
  
  /* Style the table */
  table {
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 80%;
    background-color: #fff; /* add a white background color to the table */
  }
  
  th, td {
    text-align: left;
    padding: 0.6rem;
  }
  
  th {
    background-color: #1abc9c;
    color: #fff;
  }
  

 /* 
  tr:hover {
    background-color: #ffcf70;
    cursor: pointer;
  }
 */

  /* Style the table cells */
  .name {
    font-weight: bold;
  }
  
  .course {
    color: #666;
  }
  
  .seat {
    color: #666;
  }
  
  .status {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .present {
    color: green;
  }
  
  .absent {
    color: red;
  }
  
  .pending {
    color: orange;
  }
  
  /* page background color */
  /* {background-color: rgb(160, 231, 255)}*/

  /* responsive styles for smaller screens */
@media (max-width: 480px) {
  table {
    font-size: 14px; /* decrease font size of table on smaller screens */
  }
}